@import "//fonts.googleapis.com/css?family=Bangers";
body {
    margin: 0;
}

.wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 100vh;
    background: black;
}

.time-to {
    text-align: center;
    font-family: Bangers;
    color: white;
    font-size: 35px;
    letter-spacing: 2px;
}
.time-to span {
    display: block;
    font-size: 70px;
    color: lightgoldenrodyellow;
}